.pcl-dots-container {
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.pcl-dot-button {
    margin: 5px 20px 5px;
    border-radius: 50px !important;
    width: 200px;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 90% !important;
    transition: 1s;
    background-color: #7c7287 !important;
    opacity: 100%;
}

/*.nav-button {*/
/*    transition: 1s;*/
/*    background-color: #7c7287;*/
/*    opacity: 100%;*/
/*    border-radius: 10px !important;*/
/*    !*margin: 10px*!*/
/*}*/

.pcl-dot-button:disabled {
    transition: 1s;
    background-color: dodgerblue !important;
    opacity: 100%;
}

.pcl-dot-button:hover {
    transition: 1s;
    background-color: #2a72a2;
    opacity: 100%;
}