@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,300&display=swap");

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    outline: 0;*/
/*    font-size: 100%;*/
/*    vertical-align: baseline;*/
/*    background: transparent;*/
/*}*/

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #179da6;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #153243;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
}

p {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #153243;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
}

.pcl-caro-container {
    width: 80%;
}

.pcl-heading {
    align-items: center;
    /*padding: 20px;*/
    position: center;
    width: 100vw;
    /*height: 100vh;*/
    margin: auto;
    text-align: center;
    display: block;
    /*height: auto;*/
}

.pcl-container {
    height: auto;
    margin: 10vh auto;
    width: 90%;
    display: flex;
}

.pcl-page-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #EDFCFD;
    overflow: auto;
    /*padding: 20px;*/
}