@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #179da6;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #153243;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
}

p {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #153243;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
}

.HPV {
    /* background-color:; */
    word-wrap: break-word;
    align-content: center;

}

.VIA {
    /* background-color: #153243; */
    word-wrap: break-word;
    text-align: left;
}

.VIA p {
    font-size: 10px;
}


.options {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 75px;

}

.options button {
    height: 100px;
    width: 250px !important;
    font-size: large;
    margin-right: 50px;
    margin-left: 50px;
    color: #153243;
    border: 2px solid #179da6 !important;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;

}


.main-container {
    width: 100vw;
    height: 100vh;
    background-color: #EDFCFD;
}